*{
    margin: 0;
    padding:0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(background2.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 200px;
    height: 200px;
    cursor: pointer;
    border-radius: 50%;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.navbar li.active a{
    color: orange;
}
.content{
    width: 100%;
    position: center;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 20px;
}
.left_navbar{
    margin: 0;
    padding: 0;
    width:13%;
    z-index: 1;
    position: absolute;
}
.left_navbar ul li{
    list-style: none;
    float: left;
    margin: 20px;
    position: relative;
}
.left_navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.left_navbar a:hover{
    color: #009688;
}
footer{
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 2px;
    color: #fff;
}
.footer-content{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 30px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 1px auto;
    line-height: 20px;
    font-size: 14px;
}
.social-menu ul{
    position: absolute;
    top: 82%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
}
.social-menu ul li{
    list-style: none;
    margin: 0 15px;
}
.social-menu ul li .fa{
    font-size: 30px;
    line-height: 60px;
    transition: .6s;
    color: #000;
}
.social-menu ul li .fa:hover{
    color: #fff;
}
.social-menu ul li a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}
.social-menu ul li a:hover{
    transform: translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover{
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover{
    background-color: #e4405f;
}