*{
    margin: 0;
    padding:0;
    font-family: sans-serif;
}
body{
    background-image:  linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(background2.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.banner{
    width: 100%;
    height:100vh;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 200px;
    height: 200px;
    cursor: pointer;
    border-radius: 50%;
}
.navbar ul li{
    list-style: none;   
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.left_navbar li.active a{
    color: orange;
}
.content{
    width: 100%;
    position: center;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
.left_navbar{
    margin: 0;
    padding: 0;
    width:13%;
    z-index: 1;
    position: absolute;
}
.left_navbar ul li{
    list-style: none;
    float: left;
    margin: 20px;
    position: relative;
}
.left_navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.left_navbar a:hover{
    color: #009688;
}
footer{
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 2px;
    color: #fff;
    margin-bottom: 2px;
    margin-top: 750px;
}
.footer-content{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 30px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 1px auto;
    line-height: 20px;
    font-size: 14px;
}
.main{
    max-width: 1200px;
    margin:auto;
    overflow:auto;   
    padding-top: 25px;
    min-height: calc(100vh - 211px - 58px);
}
.gallery{
    margin: 10px;
    border: 1px solid #ccc;
    float: left;
    width:250px;
    margin-left: 30px;
}
.gallery img{
    height: 250px;
    width: 250px;
    transition: transform 1s;
}
.gallery img:hover{
    transform: scale(1.2);
}
.desc{
    padding: 1px;
    text-align: center;
    color: white;
    font-weight: bold;
}
.gallery button{
    position: relative;
    float: center;
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 10px 40px;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    font-family: "Times New Roman", serif;
    font-size: 12px;
    opacity: 80%; 
    margin-left: 65px;
}
